#battleField {
	height: 600px;
	width: 1000px;
	position: relative;
	background: url("../../images/grass-field.jpg");
}

#tank {
	height: 65px;
	width: 65px;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url("../../images/playerTank.png");
	background-repeat: no-repeat;
	/*border: 1px solid #000;*/
}

.tankLeft {
	background-position: -69px -1px;
}

.tankRight {
	background-position: -1px -1px;
} 

.tankDown {
	background-position: -143px -1px;
}

.tankUp {
	background-position: -213px 0px;
}