#battleField {
	/*height: 600px;
	width: 1000px;*/
	position: relative;
	background: url("../../images/grass-field.jpg");
	overflow: hidden;
}

#tank {
	height: 65px;
	width: 65px;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url("../../images/playerTank.png");
	background-repeat: no-repeat;
	/*border: 1px solid #000;*/
}

.tankLeft {
	background-position: -69px -1px;
}

.tankRight {
	background-position: -1px -1px;
} 

.tankDown {
	background-position: -143px -1px;
}

.tankUp {
	background-position: -213px 0px;
}

.enemyTank {
	background-image: url("../../images/tank.png");
	background-repeat: no-repeat;
	height: 70px;
	width: 70px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
}

.enemyTankLeft {
	background-position: -167px -8px;
}

.enemyTankRight {
	background-position: -7px -8px;
}

.enemyTankUp {
	background-position: -247px -8px;
}

.enemyTankDown {
	background-position: -87px -8px;
}

.enemyBullet {
	width: 16px;
	height: 16px;
	position: absolute;
	background: red;
	border-radius: 50%;
	border: 2px solid white;
	box-sizing: border-box;
	-webkit-animation: bulletGlow .5s linear infinite; /* Chrome, Safari, Opera */
    animation: bulletGlow .5s linear infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bulletGlow {
	33% {background-color: yellow;}
	66% {background-color: orange;}
	100% {background-color: red;}
}

/* Standard syntax */
@keyframes bulletGlow {
	33% {background-color: yellow;}
	66% {background-color: orange;}
	100% {background-color: red;}
}