#battleField {
	height: 600px;
	width: 1000px;
	position: relative;
	background: url("../../images/grass-field.jpg");
}

#tank {
	height: 70px;
	width: 70px;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url("../../images/tank.png");
	background-repeat: no-repeat;
	border: 1px solid #000;
}

.tankLeft {
	background-position: -167px -9px;
}

.tankRight {
	background-position: -7px -9px;
} 

.tankDown {
	background-position: -88px -9px;
}

.tankUp {
	background-position: -248px -9px;
}