* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
}

#game-arena {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: cornflowerblue;*/
}

#control-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    right: 0;
    z-index: 9999;
    /*background: rgba(255,255,255,.1);*/
}

#control-panel .play-pause-button.pause {
    display: none;
    /*font-size: 30px;*/
    padding: 7px 0 0 10px;
}

#control-panel .play {
    color: green;
    /*border: 2px solid lightgreen;    */
}

#control-panel .pause {
    /*border: 2px solid red;    */
    color: red;
}

#control-panel .play-pause-button {
    position: absolute;
    /*color: red;*/
    font-size: 35px;
    top: 10px;
    right: 20px;
    /*border: 2px solid cyan;*/
    width: 50px;
    height: 50px;
    padding: 6px 5px 2px 12px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    /*background: rgba(255,255,255,.1);*/
}

#control-panel.playing .pause {
    display: block;
}

#control-panel.playing .play {
    display: none;
}

.boundary {
    position: absolute;
    background: #00f;
}

.top-boundary,
.bottom-boundary {
    height: 3px;
    left: 0;
    right: 0;
}

.left-boundary,
.right-boundary {
    width: 3px;
    top: 0;
    bottom: 0;
}

.top-boundary {
    top: 0;
}

.bottom-boundary {
    bottom: 0;
}

.left-boundary {
    left: 0;
}

.right-boundary {
    right: 0;
}

.ball {
    height: 30px;
    width: 30px;
    /*border-radius: 50%;*/
    background: orange;
    position: absolute;
}

#player-ball {
    height: 40px;
    width: 40px;
    /*border-radius: 50%;*/
    background: cornflowerblue;
    position: absolute;
}

.home {
    position: absolute;
    height: 80px;
    width: 80px;
    border: 5px solid blue;
}

#winning-flag {
    position: absolute;
    font-size: 40px;
    color: green;
    border: 2px solid green;
    padding: 5px;
    width: 54px;
    height: 54px;
}

#life-indicators {
    position: absolute;
    right: 70px;
    top: 10px;
}

#life-indicators .life-heart {
    opacity: .7;
    color: red;
    font-size: 35px;
    padding: 7px;
}

#start-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(16, 5, 86, 0.87);
    z-index: 9999;
    text-align: center;
    font-size: 40px;
    color: yellow;
}

#start-modal .big-play {
    font-size: 90px;
    color: red;
    margin-top: 50px;
    margin-bottom: 10px;
    border: 5px solid red;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 15px 0 0 20px;
    cursor: pointer;
}

#start-modal .instruction {
    font-size: 18px;
    color: #fff;
    padding: 0 15px;
}

.joystick {
    position: absolute;
    bottom: 0;
}

.joystick .fa {
    color: rgba(255, 255, 0, 0.5);
    /*background-color: rgba(88, 102, 171, 0.38);*/
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 9999;
    position: absolute;    
    border-radius: 50%;
}

#left-joystick {
    left: 0;
}

#right-joystick {
    right: 0;
}

/*#right-joystick .fire {
    font-size: 70px;
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 12px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
}*/

#left-joystick .fa {
    padding: 10px;
    font-size: 50px;
    width: 70px;
    height: 70px;
}


#left-joystick .left {
    left: 10px;
    bottom: 57.5px;
}

#left-joystick .down {
    left: 60px;
    bottom: 5px;
}

#left-joystick .right {
    left: 110px;
    bottom: 57.5px;
    text-align: center;
}

#left-joystick .up {
    left: 60px;
    bottom: 110px;
}